
.drop-target {
    border: 5px dashed rgba(198, 198, 198, 0.65);
    /*   border-radius: 4px; */
    border-radius: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

    .drop-target:hover,
    .drop-target.dragover {
        background-color: #f0f0f0; /* New background color on hover */
    }

    .drop-target p {
        color: #130f40;
        font-weight: 600;
        font-size: 1.1em;
        letter-spacing: -1px;
        margin-top: 30px;
        margin-bottom: 0;
        opacity: 0.65;
    }


#file-browser {
    text-decoration: none;
    color: rgb(22,42,255);
    border-bottom: 3px dotted rgba(22, 22, 255, 0.85);
}

    #file-browser:hover {
        color: #3b3bb6d9;
        border-bottom: 3px dotted rgba(0, 0, 255, 0.85);
        cursor: pointer;
    }


.bi-upload:hover {
    color: #3b3bb6d9;
}